*{
    margin:5px;
    padding:0px;
}
body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    padding:0px;
    margin:0px;
}
.container{
    height:550px;
    width:600px;
    background-color: white;
    border-radius: 10px;
    display: flex;
   
    flex-direction: column;
    gap:10px;

}

.search-input{
    background-color:black;
    border:none;
    margin:10px;
    height:30px;
    border-radius:6px;
   width:200px;
   color:white;
   padding:8px;
}
.search-input::placeholder{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.info{
    /* background-color: yellow;  */
    height:300px;
    width:350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    top: 10px;
    left:130px;
    /* border:5px black solid; */
    
}
.detail{
    width:100%;
    /* background-color: aqua; */
    height:200px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    gap:10px;
    
}

.box{
    /* background-color: grey; */
    height:50px;
    width:80%;
    text-align: left;
    padding-left: 10px;
    color: black;
    font-weight: 200px;
    /* border:1px solid black; */
    border-radius:10px;
    margin:5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:bold;
    font-size: 15px;
    box-shadow: 15px 15px 15px rgba(7, 7, 7, 0.2);
}
.icon{
    margin:0px;
    height:80px;
    width:80px;
    
    
}
.type{
    height:45px;
    width:100px;
    border-radius:24.5px;
    font-size: large;
    border:none;
    color:white;
    background-color:black;
   
}

.temperature{
    margin:0px;
}
.date-time{
    margin:0px;
    font-weight: normal;
}

@media(max-width:768px){
    body{
       
        
        width:100%;
        height: 100vh;
        /* background-color:yellow; */
    }
    .container{
        margin:15px;
        width:600px;
        height:500px;
        /* background-color: brown; */
       

    }
    .info{
        width: 345px;
        position:relative;
        top: 10px;
        left:100px;
       
    }
    .h3{
        font-size:19px;
    }
    .box{
        font-size: 12px;
    }
    


}

@media(max-width:425px){
    body{
       
        
        width:100%;
        height: 100vh;
        /* background-color:yellow; */
    }
    .container{
        margin:15px;
        width:600px;
        height:500px;
        /* background-color: brown; */
       

    }
    .info{
        width: 345px;
        position:relative;
        top: 10px;
        left:3px;
       
    }
    .h3{
        font-size:19px;
    }
    .box{
        font-size: 12px;
    }
    


}
@media(max-width:320px){
    body{
        width:100%;
        height:600px;;
    }
    .container{
        left:30px;
        width:300px;
        height:600px;
        /* margin:10px; */

    }
    .info{
        width:250px;
        position:relative;
        top: 10px;
        left:10px;
        font-size:20px;
       
    }
   
    .date-time{
        font-size:19px;
    }
    .box{
        font-size: 11px;
    }
    .detail{
        width:290px;
    }
}

